{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% set active_page = "index" %}

{% block content %}

<div class='container'>

  <section class='jumbotron home__jumbotron'>

    <h3>The Breakthrough</h3>

    What if I tell you that with the small amount of money you are currently have in your pocket you could right now donate a chicken to a poor family living in the suburbs of India, and witness the whole process in real time. You would get to know how the chicken is being bought at the local food market, brought to a family with low-income backgrounds, and lastly served as dinner. Your little contribution would have filled the bellies of several people including children. And the best part of it, you are there – at least virtually. How would you feel?

    This little story is just one out of million of other potential stories. You can contribute anytime, anywhere and be always sure that your contribution has a direct impact with full transparency. Your personal story can range from donating food to hungry people via clothes for children through to school supplies to needy education facilities – It can cover all aspects of life, and you will be always part of it. The only one thing you need is the right messenger.

  </section>

</div>
  
{% endblock %}
